Hardware/.+\.[s,d,b]#\d
Hardware/[^.]+\.pro
Hardware/[^.]+\.epf
Firmware/obj/
Firmware/.dep/
Firmware/.settings
Firmware/.project
Firmware/.cproject
Software/[^.]*Makefile
Software/res/qrc_[^.]+.cpp
Software/[^.]+.pro.user
.metadata/
Software/apiexamples/.+\.pyc
Software/deb/DEBIAN/md5sums
Software/[^/\\]+\.deb

syntax: regexp
Software/installer/Output/

syntax: glob
*-build-desktop*/
*-Software-*/
*-build-*/
Software/installer/*.dll
Software/installer/*.exe
Software/PythonQt/generator/*.dll
Software/PythonQt/generator/*.exe
Software/update_locales.bat
Software/src/src.pri
generated_cpp/
Software/bin
Software/**/bin
Software/docs
Firmware/LUFA/Documentation
Software/deb/usr/lib/*
Software/PythonQt/lib/*
!Software/PythonQt/lib/.keep_me
Doxyfile
stuff/
*.o
*.user
*.log
*.tmp
*.dmg
Software/dmg/contents
build-vars.prf
