Hardware/.+\.[s,d,b]#\d
Hardware/[^.]+\.pro
Hardware/[^.]+\.epf
Firmware/obj/
Firmware/.dep/
Firmware/.settings
Firmware/.project
Firmware/.cproject
Software/[^.]*Makefile
Software/res/qrc_[^.]+.cpp
Software/[^.]+.pro.user
.metadata/
Software/apiexamples/.+\.pyc
Software/deb/DEBIAN/md5sums
Software/deb/usr/bin/lightpack
Software/[^/\\]+\.deb

syntax: regexp
Software/installer/Output/

syntax: glob
*-build-desktop*/
*-Software-*/
*-build-*/
Software/installer/*.dll
Software/installer/*.exe
Software/PythonQT/lib/
Software/PythonQT/generator/*.dll
Software/PythonQT/generator/*.exe
Software/src/src.pri
generated_cpp/
Software/bin
Software/**/bin
Software/docs
Firmware/LUFA/Documentation
Doxyfile
stuff/
*.o
*.user
*.log
*.tmp
