Package: lightpack
Version: 5.9.1
Architecture: i386
Maintainer: Mike Shatohin <brunql@gmail.com>
Installed-Size: 1030
Depends: libqtcore4 (>= 4.6), libqtgui4 (>= 4.6), libqt4-network (>= 4.6), libusb-1.0-0 (>= 2:1.0.6-1), libpython2.7
Section: electronics
Priority: optional
Homepage: http://code.google.com/p/lightpack/
Description: Content-driving ambient lighting system
 lightpack.googlecode.com
 .
  * Open software and hardware
  * Simple to build (DIY)
  * Cross-platform software (Qt)
  * Supports multiple devices
  * Native screen grabbers
  * API over TCP/IP
 .	
 Please let us know if you find mistakes, bugs or errors.
