Package: prismatik
Version: ${version} 
Architecture: ${arch} 
Maintainer: Timur Sattarov <tim.helloworld@gmail.com>
Installed-Size: ${size}
Depends: libqtcore4 (>= 4.6), libqtgui4 (>= 4.6), libqt4-network (>= 4.6), libusb-1.0-0 (>= 2:1.0.6-1), libpython2.7
Conflicts: lightpack
Replaces: lightpack
Section: electronics
Priority: optional
Homepage: http://code.google.com/p/lightpack/
Description: Content-driving ambient lighting system
 lightpack.googlecode.com
 .
  * Open software and hardware
  * Simple to build (DIY)
  * Cross-platform software (Qt)
  * Supports multiple devices
  * Native screen grabbers
  * API over TCP/IP
 .	
 Please let us know if you find mistakes, bugs or errors.
