#
# /etc/udev/rules.d/93-lightpack.rules
#
#     Author: brunql
# Created on: 2.08.10
#
# brunql@brunql-desktop:~$ sudo cp lightpack/93-lightpack.rules /etc/udev/rules.d/
# brunql@brunql-desktop:~$ sudo restart udev
#
# Reconnect Lightpack USB device and check it:
#
# brunql@brunql-desktop:~$ lsusb -d 3eb:204f -v
#

# old version of Lightpack (lightpack.googlecode.com)
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="03eb", ATTR{idProduct}=="204f", GROUP="users", MODE="0666"

# Lightpack 6.3+
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="1d50", ATTR{idProduct}=="6022", GROUP="users", MODE="0666"

# Atmel Flip DFU
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="03eb", ATTR{idProduct}=="2ffa", GROUP="users", MODE="0666"

#
# In Ubuntu Lucid (10.04) udev rules file format has change, old file format looks like this:
#
# SUBSYSTEM=="usb_device", SYSFS{idVendor}=="03eb", SYSFS{idProduct}=="204f", GROUP="users", MODE="0666"


