[Desktop Entry]
Encoding=UTF-8
Name=Prismatik
Comment=Prismatik
Exec=prismatik
Icon=Prismatik.png
Terminal=0
Type=Application
Categories=Video;
Name[ru_RU]=Prismatik
